
body {
    font-family: sans-serif;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
thead {
    border-bottom: 3px solid;
    background-color: grey;
}
tbody tr:nth-child(odd) {
    background-color: lightgrey;
}
th,td {
    padding: 5px;
}
td:hover {
    background-color: black;
    color: white;
}
