*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    width: 100%;
    box-sizing: border-box;
}
/* img{
    width: 0%;
    max-width: max-content;
    
} */
.container-2{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

}.box-1{
    float: left;
    width: 100%;
}.box-2{
    float: none;
    clear: both;
    
}#detail{
    margin-top: 20px;
   width: 100%;
}